<h2>Search Genres</h2>
<form action="/genres" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name  %> ">
    <button type="submit">Search</button>
</form>
<br>
<% genres.forEach(genre =>{ %> 
    <div>
        <%= genre.name %> 
    </div>
<% }) %> 