<header>
    <nav>
        <a href="/">Movie Night</a>
        <ul>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/genres/new">Add Genre</a></li>

        </ul>
    </nav>
</header>