<header>
    <nav>
        <a href="/">Movie Night</a>
        <ul>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/movies/new">Add movie</a></li>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/genres/new">Add Genre</a></li>
        </ul>
    </nav>
</header>